<div class="container">
  <img
    alt="{{ teamName }} logo"
    src="../../assets/{{ teamCode?.toLowerCase() }}.jpg"
    height="80px"
  />
  <h1>{{ teamName }} Salary Cap 2023-2024</h1>
  <p>
    A look at the 2023-2024 salary cap and contract totals for the
    {{ teamName }}.
  </p>
  <mat-progress-bar
    aria-label="loading salary cap table"
    color="primary"
    mode="indeterminate"
    *ngIf="isLoading"
  ></mat-progress-bar>
  <team-cap-table [teamCapSpace]="teamCapSpace"></team-cap-table>
  <br />
</div>
