@use "@angular/material" as mat;

$blue-gray-palette: mat.define-palette(mat.$blue-grey-palette);

a {
  color: white;
}

.cap-table {
  width: 100%;
}

.mat-row:nth-child(even) {
  background-color: mat.get-color-from-palette($blue-gray-palette, "darker");
  color: mat.get-color-from-palette($blue-gray-palette, "darker-contrast");
}

.mat-row:nth-child(odd) {
  background-color: mat.get-color-from-palette($blue-gray-palette, "default");
  color: mat.get-color-from-palette($blue-gray-palette, "default-contrast");
}

@media only screen and (max-width: 600px) {
  .mat-cell {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
}
